footer {
    height: 14rem;
    background-color: $color-secundario;
    grid-area: footer;

    .logoFooter {
        display: inline-block;

        img{
            height: map-get($imagenFooter , altura);
            border-radius: map-get($imagenFooter, borde);
        }
    }

    nav {
        display: inline-block;

        .iconosRedes li {
            display: inline-block;
            margin-right: 4rem;

            a img {
                height: 4rem;
                @extend .iconosRedes;
            }
        }
    }
}